.jlc-wa-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	padding: 14px 25px;
	position: sticky;
	top: 0;
	z-index: 50;
}

.jlc-wa-header-left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.jlc-wa-logo-desktop {
	display: block;
	width: 200px;
	height: auto;
}

.jlc-wa-logo-mobile {
	display: none;
	width: 55px;
	height: auto;
}

.jlc-wa-header-right {
	display: flex;
	align-items: center;
	gap: 22px;
}

.jlc-wa-header-link {
	position: relative;
	display: inline-block;
	padding-bottom: 3px;
	font-size: 0.85rem;
	text-decoration: none;
	color: var(--jlc-text-cream) !important;
	font-weight: 500;
	white-space: nowrap;
}

.jlc-wa-header-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	background-color: var(--jlc-primary);
	transition: width 0.28s ease-in-out;
}

.jlc-wa-header-link:hover {
	color: var(--jlc-text-cream) !important;
}

.jlc-wa-header-link:hover::after {
	width: 100%;
	color: var(--jlc-text-cream);
}

.jlc-wa-header-premium--btn {
	position: relative;
	display: inline-block;
	background: var(--jlc-primary);
	padding: 6px 14px;
	border-radius: 50px;
	font-size: 0.85rem;
	color: var(--jlc-premium-dark);
	font-weight: 600;
	text-decoration: none;
	overflow: hidden;
	transition: color 0.3s ease;
}

.jlc-wa-header-premium--btn::before {
	content: 'Premium';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	color: var(--jlc-premium-dark);
	transform: scale(1) translateY(67px);
	transition: transform 0.3s ease;
	z-index: 0;
	border-radius: inherit;
}

.jlc-wa-header-premium--btn:hover::before {
	transform: translateY(0);
}

@media (max-width: 768px) {
	.jlc-wa-header {
		width: 90%;
		padding: 10px 30px 10px 16px;
		gap: 10px;
	}

	.jlc-wa-logo-desktop {
		display: none;
	}
	.jlc-wa-logo-mobile {
		display: block;
	}

	.jlc-wa-header-right {
		gap: 14px;
	}

	.jlc-wa-header-link {
		font-size: 0.7rem;
	}

	.jlc-wa-header-premium {
		padding: 5px 12px;
		font-size: 0.7rem;
	}
}
