.jlc-dashboard {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.jlc-wa-adminbar {
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #e5e5e5;
}

.jlc-dasboard__main {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background: var(--jlc-premium-bg);
}

.jlc-container-tabs {
	width: 86%;
}

@media (max-width: 1024px) {
	.jlc-dashboard {
		flex-direction: column;
	}

	.jlc-dasboard__main {
		flex-direction: column;
	}

	.jlc-container-tabs {
		width: 100%;
	}
}
