.jlc-dashboard {
	display: flex;
	flex-direction: column;
}

.jlc-wa-adminbar {
	width: 100%;
	background: var(--jlc-premium-dark);
	border-bottom: 0.5px solid var(--jlc-primary);
}

.jlc-dasboard__main {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background: var(--jlc-premium-bg);
}

.jlc-container-tabs {
	width: 86%;
}

@media (max-width: 1024px) {
	.jlc-dashboard {
		flex-direction: column;
	}

	.jlc-dasboard__main {
		flex-direction: column;
	}

	.jlc-container-tabs {
		width: 100%;
	}
}
