.jlc-picker-image {
	display: flex;
	align-items: center;
	gap: 14px;
	/* margin: 10px 0 20px; */
}

.jlc-picker-image-actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

.jlc-picker-custom-image-preview {
	width: 52px;
	height: 52px;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.08);
	flex-shrink: 0;
}

.jlc-picker-image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
}

/* Botón premium linear */
.jlc-picker-btn-linear {
	background: var(--jlc-premium-dark);
	color: var(--jlc-primary);
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.25s ease;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.jlc-picker-btn-linear:hover {
	background: var(--jlc-premium-dark);
	color: var(--jlc-text-white);
	filter: brightness(1.07);
	transform: translateY(-1px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
}

/* Botón eliminar */
.jlc-picker-btn-delete {
	background: #fff;
	border: 1px solid #d9dce1;
	padding: 10px 16px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #1b1d1f;
	transition: all 0.25s ease;
}

.jlc-picker-btn-delete:hover {
	background: #f3f4f6;
	border-color: #babec3;
}
